* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    margin: 10px 10px 0 0;
    padding-bottom: 0.714em !important;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: white;
    font-weight: bold;
    text-align: center;
}
.m-7 {
    margin-left: 7px;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.space-between {
    justify-content: space-between;
}


.flex-item {
    width: 170px;
    color: white;
    font-weight: bold;
    text-align: center;

}
body, .inner {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient( rgb(0 0 0 / 43%) 100%, rgb(255 251 251 / 96%)100%),url(Images/login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-t-20{
    margin-top:20px;
}
.iconBoxCard {
    width: fit-content;
    padding: 11px 17px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.InputMainDiv {
    width: 90%;
    height: 90%;
    background-color: #ffffffcc;
    border-radius: 8px;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}
.Uplode {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 12px;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    border-radius: 7px;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #000000 !important;
    border-color: #2e6da4;
}
.outline {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: transparent;
    width: 80%;
    height: 316px;
    perspective: 5000px;
    margin-left: 10%;
    margin-bottom: 30px;
}

    .card:hover .inner {
        transform: rotateY(180deg) translateZ(5px);
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
    }

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
}

    .inner:after {
        content: "";
        background: inherit;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: blur(8px);
    }

.front, .back {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(0deg) translateZ(0px);
}

.front {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
}
.searchDiv {
    height: 60px;
    text-align: center;
    margin: 0px 300px;
    margin-bottom: 14px;
    border-radius: 23px;
}
    .searchDiv input {
        width: 80%;
        height: 50px;
        margin-top: 5px;
        border-radius: 23px;
        padding-left: 10px;
        font-size: 18px;
    
    }
input:focus {
    outline: none;
}
.logout2 {
    float: right !important;
    margin-bottom: 15px;
    margin-top: 10px;
}
.deleteIcon {
    height: 40px;
    margin-top: 12px;
}
.searchDivi {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
    .front h1 {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

.back {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    transform: rotateY(-180deg);
}

    .back h1 {
        padding-bottom: 0 !important;
    }

    .back p {
        padding-top: 0 !important;
    }
.front h1 {
    padding-bottom: 0 !important;
}
.t-left {
    text-align: left;
}
.ui-input {
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px black solid;
}

.front img {
    top: 10px;
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    padding-top: 0.714em !important;
}
.d-grid {
display:grid;
}
.m-b-30 {
    margin-bottom: 30px;
}
.userImage {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    cursor: pointer;
}
.buss-Car-Algin {
    padding-left: 120px;
}
.swal-icon--error__line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #000000;
    display: block;
    top: 28px;
    left: 16px;
    border-radius: 2px;
}
.swal-icon--error {
    border-color: #000000;
}
    .swal-icon--error__line--right {
    -webkit-transform: rotate( -45deg );
    transform: rotate( -46deg );
    right: 16px;
}
.swal-button {
    background-color: #000000;
}

    @media screen and (max-width: 900px) {
        .buss-Car-Algin {
            padding-left: 67px;
        }

        .inner {
            background-size: 200% 200%;
        }

        .card {
            background-color: transparent;
            width: 98%;
            height: 315px;
            perspective: 5000px;
            margin-left: 1%;
            margin-top: 30px;
        }

        .searchDiv {
            height: 60px;
            text-align: center;
            margin: 0px 10px;
            margin-bottom: 14px;
            border-radius: 23px;
        }

        .Uplode {
            background-color: black;
            color: white;
            font-size: 12px;
            padding: 12px;
            width: fit-content;
            margin: auto;
            margin-top: 15px;
            border-radius: 7px;
        }
    }
